{% extends 'templates/home/index.html' %}
{% block pagetitle %} - {{ party }}{% endblock %}

{% block content %}
<h2>{{ party }}</h2>
<h3>Seats won</h3>
<table>
    {% for candidate, election_types in candidates.items %}
    <tr>
        <th>
            Winner
        </th>
        <th>
            FPTP
        </th>
        <th>
            STV
        </th>
        <th>
            RP
        </th>
    </tr>
    <tr>
        <td>
            Seat: <a href="{% url 'AlternativeVote:results' candidate.constituency.id %}">{{candidate.constituency}}</a>
            <br>Candidate: {{ candidate }}
        </td>
        <td>
            {% if election_types.first_past_the_post %}
                x
            {% endif %}
        </td>
        <td>
            {% if election_types.instant_runoff %}
                x
            {% endif %}
        </td>
        <td>
            {% if election_types.ranked_pairs %}
                x
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}