{% extends 'templates/home/index.html' %}
{% block content %}
<h2>what is public slate?</h2>
I applied for a job doing stuff with Django. I didn't see until afterwards they requested some proof that I can actually do it. Knocked this together in a week. Still need a job, like.

<h2>ok, but what is public slate?</h2>
This site currently allows you to cast ranked choice ballots in mock elections based on the 2024 UK general election and uses those ballots to demonstrate different forms of vote counts and how things might go if we weren't forced into tactical voting by the first past the post system. You can find your constituency in the tab at the top or until the site gets a few thousand ballots, you might prefer to vote in the <a href="/av/constituency/475/results">showdown between Count Binface and Rishi Sunak.</a>

<br><br>
<h3><a href = "/av/constituency">Find your constituency in this list</a></h3>
If you're not sure which constituency you're in use <a href="https://members.parliament.uk/constituencies">this tool</a> on the parliament.gov website
{% endblock content %}

