{% extends 'templates/home/index.html' %}
{% block content %}
<h2>what is public slate?</h2>
<s>I need a job so wanted to quickly make an open source project and put it on github to prove I can do Django.</s> First-past-the-post electoral systems are failing in their mission to elect representive governments. The 2024 UK general election has become a tactical voting battle to elect the least unrepresentative party. Whichever party wins will not implement the <a href="https://www.survation.com/new-poll-public-strongly-backing-public-ownership-of-energy-and-key-utilities/">critical policies</a> which are hugely popular among the public. <p>

This website in it's current state demonstrates variations on how elections can be run, not to keep out the least preferred party, but to give actually representative parties a chance at power. Find your constituency and vote how you would like to using ranked choice voting to see how outcomes may change were other processes implemented.
{% endblock content %}
